GCP_PROJECT_ID="GCP_PROJECT_ID" #Nome do projeto configurado no GCP
GCP_REGION="GCP_REGION" #Região configurada no GCP
BRONZE_DATASET="BRONZE_DATASET" #Nome do dataset bronze que será criado no BQ
SILVER_DATASET="SILVER_DATASET" #Nome do dataset prata que será criado no BQ
GOLD_DATASET="GOLD_DATASET" #Nome do dataset gold que será criado no BQ
BUCKET_NAME="BUCKET_NAME" #Nome do bucket no GCS
FOLDER_NAME="FOLDER_NAME" #Nome do diretório no GCS